include ./_mixin/_og

doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    mixin og_include_title("OG:タイトル")
    title タイトル
  body
    div#main-container
      div#container
