footer
  div#footer-pagetop.pagetop
    a(href="#top")
      span
        i.icon-arrow-up
      span
        i.icon-arrow-up
      span
        i.icon-arrow-up
      span.text BACK TO TOP
  p#footer-copyright
    | ※2016.4.1現在
    br
    | GOOD SMILE COMPANY, INC. ALL RIGHTS RESERVED
