include ../_mixin/_og
include ../_mixin/_twittercard

meta(charset='UTF-8')
meta(name='viewport', content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=yes")
meta(content="IE=edge", http-equiv="X-UA-Compatible")
meta(name="keywords" content="グッドスマイルカンパニー, グッスマ, good smile company, gsc, future factory, lucky factory, l.u.c.k.y, ラッキー, 鳥取, 倉吉, 楽月, robot, ロボット, 工場長, manager, マネージャー, 工場, ファクトリー, ai, 地方創生, 安藝, あき, ねんどろいど, フィギュア, 玩具, おもちゃ")
meta(name="description" content="15周年を迎えたグッドスマイルカンパニーのプロジェクトサイト。鳥取県倉吉市の楽月工場に採用したロボット工場長の情報や特別インタビューを更新していきます。")

//- OG
mixin og_title("FUTURE FACTORY - ROBOT MANAGER in LUCKY FACTORY｜グッドスマイルカンパニー")
mixin og_description("15周年を迎えたグッドスマイルカンパニーのプロジェクトサイト。鳥取県倉吉市の楽月工場に採用したロボット工場長の情報や特別インタビューを更新していきます。")
mixin og_url("http://futurefactory.goodsmile15th.jp/")
mixin og_type("website")
mixin og_sitename("FUTURE FACTORY - ROBOT MANAGER in LUCKY FACTORY｜グッドスマイルカンパニー")
mixin og_image("http://futurefactory.goodsmile15th.jp/assets/images/ogimg.png")

//- TwitterCard
mixin tw_title("FUTURE FACTORY - ROBOT MANAGER in LUCKY FACTORY｜グッドスマイルカンパニー")
mixin tw_description("15周年を迎えたグッドスマイルカンパニーのプロジェクトサイト。鳥取県倉吉市の楽月工場に採用したロボット工場長の情報や特別インタビューを更新していきます。")
mixin tw_url("http://futurefactory.goodsmile15th.jp/")
mixin tw_card("summary_large_image")
mixin tw_image("http://futurefactory.goodsmile15th.jp/assets/images/ogimg.png")

link(href="/assets/images/favicon.ico" rel="icon")
