include ../_mixin/_og

mixin og_include_title("ROBOT MANAGER in LUCKY FACTORY / FUTURE FACTORY")
mixin og_include_description("説明")
mixin og_include_url("http://futurefactory.goodsmile15th.jp")
mixin og_include_type("website")
mixin of_include_sitename("ROBOT MANAGER in LUCKY FACTORY / FUTURE FACTORY")
mixin og_include_image("http://futurefactory.goodsmile15th.jp/assets/images/ogimg.png")
